<%- include("header") -%>
<div class="container-fluid p-3 text-center">
    <img src="/images/oops.svg" alt="no crime activity" class="img-fluid">
    <div class="container-fluid py-2">
        <h4>Oops, unable to fetch crime case activity</h4>
        <p class="mx-auto" style="max-width: 300px;">Enter a location above to get information on crime cases in that area</p>
    </div>
</div>
<%- include("footer") -%>