    <footer class="container-fluid text-white text-center py-2">
        Built by Anna Cotterell
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/index.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0nXfRO2Xh1J1Q4OUFjD86XbdXo4-4fBA&callback=initMap&v=weekly"></script>
</body>
</html>